  a{
    font-weight: bold;
  }
  .tab-pane,#nome{
    margin-top: 4%;
  }
  nav{
    background-color: #000;
          opacity:0.80;
  }
  #perfil{
    max-width: 39%;
  }
  .cc-profile-image{
    margin-top: 12%;
    margin-left: 39%;
  }
  #myTab{
    width: 100%;
  }
  #nome{
    color: #fff;
    margin-top: 1%;
    font-size: 33px;
    text-align: center;
  }
  .ico{
    max-width: 40%;
  }
  .tempoServico{
    font-size: 70%;
  }
  .nomeEmpresa{
    font-size: 150%;
    font-weight: bold;
  }
  .tituloFuncao{
    font-weight: bold;
    font-size: 120%;
  }
  .direita{
    width: 60%;
    float: right;
  }
  .card1{
    display: flex;
    width: 90%;
  }
  
.fundo{
  background: url('../imagens/teste.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
}

  [data-anime]{
    opacity: 0;
    transition: .5s;
  }
  [data-anime="left"]{
    transform: translate3d(-4%,0,0)
  }
  [data-anime="right"]{
    transform: translate3d(4%,0,0)
  }
  [data-anime="top"]{
    transform: translate3d(0,50px,0)
  }
  
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
  }